/**********************************************
 * general
 **********************************************/

$body-bg: #fdf6e3;
$search-bg: lighten($body-bg, 2%);
$body-color: #445258;
$secondary:  #FF7F2A;
$body-color-bold-shadow: lighten($body-color, 20%);
$primary: #138496;
$breadcrumb-bg: $body-bg;
$kalk-top-offset: 74px;
 
 @import "bootstrap";
 @import "font-awesome";

.kalk-logo {
    background: transparent url("/img/kalk-logo.png") no-repeat scroll 0px 0px;
    display: block;
    width: 50px;
    height: 50px;    
}

body {
    width: calc(100vw - 34px); /* https://stackoverflow.com/a/25981719 */
}

a {
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

h1, h2, h3, h4, h5, h6 {
    outline: none;
    padding-bottom: 0.25em;
    scroll-margin-top: $kalk-top-offset;
}

#kalk .breadcrumb {
    padding-left: 0.1rem
}

.kalk-color-0 { 
    color: #FF7F2A; 
}
.kalk-color-1 {
    color: #FFCC00; 
}
.kalk-color-2 { 
    color: #66FF00; 
}
.kalk-color-3 {
    color: #00CCFF;
}

blockquote {
    color: #777;
    background-color: rgba(0,0,0, 0.05);
    border-left-color: #35cb8c;
    border-left-style: solid;
    border-left-width: 5px;
    padding-left: 10px;
}

*:focus {
    outline: 0 !important;
}

/**********************************************
 * alerts (NOTE, TIP, WARNING, CAUTION, IMPORTANT)
 **********************************************/

@mixin lunet-alert-icon {
    @extend .fa;
    font-size: 1.3em;
    padding-right: 0.5rem;
    width: 1.4em;    
}

@mixin lunet-alert {
    @extend .alert;
    border-radius: .5em;
}

@mixin lunet-alert-heading-text {
    font-weight: bold;
    text-transform: uppercase;
    content: "Information";
}

.lunet-alert-note-icon {
    @include lunet-alert-icon;
    @extend .fa-info-circle;
}

.lunet-alert-note {
    @include lunet-alert;
    @extend .alert-info;
}

.lunet-alert-note-heading-text::before {
    @include lunet-alert-heading-text;
    content: "Note";
}

.lunet-alert-tip-icon {
    @include lunet-alert-icon;
    @extend .fa-lightbulb-o;
}

.lunet-alert-tip {
    @include lunet-alert;
    @extend .alert-success;
}

.lunet-alert-tip-heading-text::before {
    @include lunet-alert-heading-text;
    content: "Tip";
}

.lunet-alert-warning-icon {
    @include lunet-alert-icon;
    @extend .fa-hand-o-right;
}

.lunet-alert-warning {
    @include lunet-alert;
    @extend .alert-warning;
}

.lunet-alert-warning-heading-text::before {
    @include lunet-alert-heading-text;
    content: "Warning";
}

.lunet-alert-caution-icon, .lunet-alert-important-icon {
    @include lunet-alert-icon;
    @extend .fa-warning;
}

.lunet-alert-caution, .lunet-alert-important {
    @include lunet-alert;
    @extend .alert-danger;
}

.lunet-alert-caution-heading-text::before {
    @include lunet-alert-heading-text;
    content: "Caution";
}

.lunet-alert-important-heading-text::before {
    @include lunet-alert-heading-text;
    content: "Important";
}

.lunet-alert-callout-icon {
    @include lunet-alert-icon;
    @extend .fa-bullhorn;
}

.lunet-alert-callout {
    @include lunet-alert;
    @extend .alert-success;
    @extend .alert-dismissible;
}

.lunet-alert-callout-heading-text::before {
    @include lunet-alert-heading-text;
    content: "Announcement";
}

/**********************************************
 * search bar
 **********************************************/
.select2-selection {
    background-color: $search-bg!important;
}

.select2-dropdown {
    background-color: $search-bg!important;
}

.select2-results__option.select2-results__message {
    width: auto;
}

.select2-results__option {
    user-select: auto!important;
}

.select2-results__option--highlighted {
    background-color: rgba(0, 0, 0, 0.1)!important;
    color: $body-color!important;
}

input.select2-search__field
{
    margin-inline-start: 2rem;
}

input.select2-search__field::placeholder
{
    color: rgba(0,0,0,0.3);
}

.kalk-search {
    position: relative;
}

.search-icon {
    z-index: 2;
    left: 10px;
    top: 3px;
    font-size: 1.2rem;
    display: block;
    position: absolute;
    pointer-events: none;
    color: rgba(0,0,0,0.2);
}

.select2-results  ::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(0, 0, 0, 0.05);
}

.select2-results ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.4);
    border-style: solid;
    border-width: thin;
}

.select2-results ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
}


/**********************************************
 * frontpage
 **********************************************/
.kalk-home {
    font-size: 1.25rem;
}

.kalk-home h3 > i {
    font-size: 1.3em;
    margin-right: 1rem;
}

.kalk-home h3 i.fa {
    text-shadow: 1px 1px 3px #444444;
}

.img-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 0.8rem;
    border-radius: 0.6rem!important;
    width: 332px;
}

.jumbotron {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: transparent url("/img/kalk-banner.jpg") 50% 50% no-repeat;
    color: white;
    text-shadow: 4px 4px 3px #111111;
}

/**********************************************
 * top navigation bar
 **********************************************/
#kalk .navbar .navbar-nav a {
    padding-top: 4px;
    padding-bottom: 4px;
}

#kalk .btn-info {
    color: white;
}

#kalk .btn-success {
    color: white;
}

#kalk .btn-outline-secondary {
    border-color: #6c757d;
}

#kalk .btn-outline-secondary:hover {
    color: white;
}

#kalk .btn-outline-secondary:hover {
    color: white;
}

#kalk .btn-secondary {
    color: white;
}

#kalk .navbar .navbar-nav li {
    margin-right: 10px;
}

#kalk .navbar-right .nav-link {
    //padding-right: 1rem;
}

#kalk .navbar a {
    text-decoration: none;
}

#kalk li.nav-item.active a.nav-link {
    // use text-shadow instead of font-weight to avoid resize of container and shift of the following menu items
    text-shadow: 0px 0px 1px $body-color-bold-shadow;
    border-bottom-color: red;
    border-bottom-style: solid;  
}

#kalk .navbar-right .btn .fa {
    padding: 0.25rem;
}

.fa-heart-o {
    color: #ea4aaa;
}

#kalk .navbar {
    margin-bottom: 0.5rem;
    background-color: $body-bg;
}

footer {
    text-align: center;
    font-size: 0.9rem;
}

/**********************************************
 * menu in documentation
 **********************************************/
.kalk-doc ol.menu {    
    list-style: none;
    padding-inline-start: 0px;
}

.kalk-doc span.menu-item-row {
    display: inline-block;
    width: 100%;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
}

.kalk-doc a.menu-link {
    display: inline-block;
    width: 100%;
    position: relative
}

.kalk-doc a.menu-link-show {
    display: inline-block;
    position: absolute;
    right: 30px;    
}

.kalk-doc span.menu-item-row:hover {
    background-color: rgba(0,0,0,0.05);
}

.kalk-doc li.menu-item.active {
    border-left-color: red;
    border-left-style: solid;
    border-left-width: 2px;
}

.kalk-doc li.menu-item.active > span {
    display: inline-block;
    width: 100%;
    background-color: rgba(0,0,0,0.05);
    font-weight: bold;
}

.kalk-doc a.menu-link-show::before {
    content: '\276F';
    display: inline-block;
    transform: translateY(3px) rotate(90deg);
    transition: transform 0.2s;
}

.kalk-doc a.menu-link-show.collapsed::before {
    display: inline-block;
    content: '\276F';
    transform: translateY(2px) rotate(0deg);
    transition: transform 0.2s;
}

.kalk-doc ol.menu ol.menu  {    
    margin-left: 0.8rem;
}

.kalk-doc li.menu-item {    
    list-style-type: none;
    padding-inline-start: 0px;
    border-width: thin;
    border-color: rgba(0, 0, 0, 0.1);
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;    
    border-bottom-style: solid;
}

.kalk-doc li.menu-item li.menu-item:last-child {
    border-bottom-style: none;
}

.kalk-doc li.menu-item a
{
    text-decoration-line: none;
    text-decoration-style: none;
}

.kalk-doc footer {
    padding-bottom: 75vh;
}

.menu-level1, .menu-level2, .menu-level3, .menu-level4 {
    font-size: 0.95em;
}

/**********************************************
 * toc in documentation
 **********************************************/
.kalk-doc .toc-link::before {
    width: 0px;
}

.menu-sidebar {
    top: $kalk-top-offset; 
    z-index: 0;
}

.kalk-doc .toc-link {
    border-right-width: 2px;
    border-right-color: #EEE;
    border-right-style: solid;
    font-size: 0.9rem;
}

.kalk-doc .menu a.toc-link {
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.kalk-doc a.toc-link:hover {
    text-decoration-line: underline;
    text-decoration-style: solid;
}

.kalk-doc a.toc-link {
    display: inline-block;
    width: 100%;
}

.kalk-doc a.toc-link.is-active-link {
    border-right-color: #00CCFF;
}

.kalk-doc .toc-title {
    border-bottom-style: solid;
    border-bottom-width: thin;
    padding-inline-start: 0.5rem;    
    border-bottom-color: rgba(0, 0, 0, 0.1);
    text-align: center;
}

.kalk-doc .toc{
    padding-right: 3px;
}

.kalk-doc ::-webkit-scrollbar {
    padding-left: 2px;
    width: 8px;
    background-color: $search-bg;
}

.kalk-doc ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.4);
    border-style: solid;
    border-width: thin;
}

.kalk-doc ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.kalk-doc .js-toc {
    max-height: 50vh;
}

/* Remove sticky on mobile */
@media screen and (max-width: 768px) {
    .sticky-top {
        position: relative !important;
    }

    .select2-results__option {
        width: auto;
    }

    pre.language-kalk {
        font-size: 0.75rem;
    }
}

