.kalk-logo {
    background: transparent url("/img/kalk-logo.png") no-repeat scroll 0px 0px;
    display: block;
    width: 50px;
    height: 50px;    
}
body {
    background-color: #fdf6e3;
    color: #445258;
}

a {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    color: #138496
}

.navbar a {
    text-decoration: none;
}

.active a.nav-link {
    border-bottom-color: red;
    border-bottom-style: solid;    
}

/* frontpage */
.kalk-fp {
    font-size: 1.25em;
}

.kalk-fp h3 > i {
    font-size: 1.3em;
    margin-right: 1rem;
}

.kalk-fp h3 i.fa {
    text-shadow: 1px 1px 3px #444444;
}


#kalk .navbar .navbar-nav a {
    padding-top: 4px;
    padding-bottom: 4px;
}

.img-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 0.8em;
    border-radius: 0.6rem!important;
    width: 332px;
}

#kalk .btn-info {
    color: white;
}

#kalk .btn-success {
    color: white;
}

#kalk .btn-outline-secondary {
    border-color: #6c757d;
}

#kalk .btn-outline-secondary:hover {
    color: white;
}

#kalk .btn-outline-secondary:hover {
    color: white;
}

#kalk .btn-secondary {
    color: white;
}

#kalk .navbar .navbar-nav li {
    padding-right: 10px;
}

#kalk .navbar-right .nav-link {
    padding-right: 1em;
}

#kalk .navbar-right a.nav-link.active {
    border-bottom-color: red;
    border-bottom-style: solid;  
}

.navbar-right .btn .fa {
    padding: 0.25em;
}

.fa-heart-o {
    color: #ea4aaa;
}

.jumbotron {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: transparent url("/img/kalk-banner.jpg") 50% 50% no-repeat;
    color: white;
    text-shadow: 4px 4px 3px #111111;
}

.navbar {
    margin-bottom: 0.5em;
}

footer {
    text-align: center;
}

.kalk-doc ul.menu {    
    list-style: none;
    padding-inline-start: 0px;
}

.kalk-doc ul.submenu {    
    list-style: disc;
    padding-inline-start: 0px;
}

.kalk-doc .submenu  li.menu-item {    
    list-style-type: none;
    padding-inline-start: 1em;
    white-space: nowrap;
    margin-bottom: 0px;
    padding-bottom: 0px;   
}

.kalk-doc li.menu-item:hover {
    background-color: rgb(0,0,0,0.05);
}

.kalk-doc .submenu  li.menu-item {    
    border-style: none;
}

.kalk-doc li.menu-item.active, .kalk-doc .submenu li.menu-item.active{
    background-color: rgb(0,0,0,0.03);
    border-right-color: red;
    border-right-style: solid;
    border-right-width: 2px;
}

.kalk-doc .submenu  li::before {    
    content: "\2022";
    color: rgba(0, 0, 0, 0.1);
    width: 1em;
    margin-left: -1em;
    padding-right: 1em;
}


.kalk-doc li.menu-item {    
    list-style-type: none;
    padding-inline-start: 0px;
    border-width: thin;
    border-color: rgba(0, 0, 0, 0.1);
    padding-left: 0.5em;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;    
    border-bottom-style: solid;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;    
}

.kalk-doc li.menu-item a
{
    text-decoration-line: none;
    text-decoration-style: none;
    display: inline-block;
    width: 100%;
}

.kalk-color-0 { 
    color: #FF7F2A; 
}
.kalk-color-1 {
    color: #FFCC00; 
}
.kalk-color-2 { 
    color: #66FF00; 
}
.kalk-color-3 {
    color: #00CCFF;
}
