name: code

on:
  push:
    paths-ignore:
    - 'site/**'
    - 'img/**'
    - '*.md'
    - '*.txt'
  pull_request:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        submodules: true
        fetch-depth: 0

    - name: Install .NET 7.0
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: | 
          7.0.x

    - name: Build, Test, Pack, Publish
      shell: bash
      run: |
        dotnet tool install -g dotnet-releaser
        dotnet-releaser run --skip-app-packages-for-build-only --nuget-token "${{secrets.NUGET_TOKEN}}" --github-token "${{secrets.GITHUB_TOKEN}}" --github-token-extra "${{secrets.TOKEN_GITHUB_EXTRA}}" src/dotnet-releaser.toml